* {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
}

.flex-centre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1 {
  font-family: "Shrikhand", cursive;
}

h5 {
  font-size: large;
  font-weight: bolder;
}

.footer__margin {
  margin-bottom: 10px;
}

/* Responsive mobile */
nav h1 {
  margin: 3px;
}
nav i {
  color: black;
  position: absolute;
  left: 5%;
  top: 0.7%;
}

header .header__location {
  background-color: rgb(212, 209, 209);
  box-shadow: inset 0px 4px 3px rgba(184, 183, 183, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
}
header p {
  margin-left: 10px;
}
header .header__reservation {
  background-color: #f6f6f6;
}
header .header__reservation h2 {
  font-weight: bold;
  margin: 0;
  padding: 20px;
}
header .header__reservation h4 {
  font-weight: lighter;
  margin: 0;
}
header .header__reservation button {
  color: white;
  font-weight: bold;
  background: linear-gradient(to top, #9356DC, #FF79DA);
  border: none;
  margin: 30px 0 50px;
  padding: 15px;
  border-radius: 25px;
  box-shadow: 0 2px 7px grey;
  transition-duration: 500ms;
  cursor: pointer;
}
header .header__reservation button:hover {
  background: linear-gradient(to top, rgb(187, 108, 240), rgb(245, 147, 240));
  box-shadow: 0px 2px 20px grey;
}

.main__fonctionnement {
  counter-reset: liste;
  margin-top: 50px;
}
.main__fonctionnement h2 {
  margin-left: 20px;
  margin-bottom: 30px;
  font-weight: bold;
}
.main__fonctionnement ol {
  padding: 0;
}
.main__fonctionnement li {
  list-style-type: none;
  background-color: #f6f6f6;
  padding: 30px 30px;
  margin: 20px 20px;
  border-radius: 1rem;
  box-shadow: 0px 2px 12px grey;
  font-weight: bold;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.main__fonctionnement li::before {
  content: counter(liste);
  counter-increment: liste;
  color: white;
  background-color: #9356DC;
  padding: 3px 7px;
  border-radius: 50%;
  position: absolute;
  left: 2%;
}
.main__fonctionnement i {
  color: grey;
  margin-right: 20px;
}
.main__fonctionnement i:hover {
  color: #9356DC;
}

.main__restaurants {
  background-color: #f6f6f6;
  margin-top: 50px;
  padding: 10px;
  padding-bottom: 50px;
}
.main__restaurants h2 {
  margin-left: 20px;
  margin-bottom: 30px;
  font-weight: bold;
}
.main__restaurants .main__restaurant--card {
  text-decoration: none;
}
.main__restaurants .main__restaurant--card .restaurant__img1 {
  background-image: url(./images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
}
.main__restaurants .main__restaurant--card .restaurant__img2 {
  background-image: url(./images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
}
.main__restaurants .main__restaurant--card .restaurant__img3 {
  background-image: url(./images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
}
.main__restaurants .main__restaurant--card .restaurant__img4 {
  background-image: url(./images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
}
.main__restaurants .main__restaurant--card .main__restaurants--img {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  color: #1a8066;
  height: 200px;
  background-size: cover;
  background-position: center;
  border-radius: 20px 20px 0 0;
}
.main__restaurants .main__restaurant--card .main__restaurants--img p {
  background-color: #99E2D0;
  display: flex;
  text-align: center;
  align-items: center;
  height: 10px;
  padding: 10px;
  border-radius: 2px;
  margin-right: 10px;
  margin-top: 10px;
}
.main__restaurants .main__restaurant--card .main__restaurants--description {
  background-color: white;
  border-radius: 0 0 20px 20px;
  color: black;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.main__restaurants .main__restaurant--card .main__restaurants--description .description {
  position: relative;
  width: 100%;
}
.main__restaurants .main__restaurant--card .main__restaurants--description .description h5,
.main__restaurants .main__restaurant--card .main__restaurants--description .description p {
  margin: 5px;
}
.main__restaurants .main__restaurant--card .main__restaurants--description .description i {
  position: absolute;
  right: 1rem;
  top: 30%;
  transform: translateY(-50%);
}
.main__restaurants .main__restaurant--card .main__restaurants--description .description .fa-solid {
  color: transparent;
  transition: all 200ms ease-in;
}
.main__restaurants .main__restaurant--card .main__restaurants--description .description .fa-solid:hover {
  display: block;
  background: linear-gradient(to top, #9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
}
.main__restaurants .main__restaurant--card .main__restaurants--description .description .fa-regular:hover {
  display: none;
}

footer {
  background-color: rgb(63, 62, 62);
  color: white;
  padding: 20px;
  font-weight: bold;
}
footer .footer__ustensils--link i {
  margin-right: 5px;
}
footer h5 {
  font-family: "Shrikhand", cursive;
  margin: 0px 0 20px;
}
footer a {
  text-decoration: none;
  color: white;
}
footer p {
  margin: 0;
}

@media screen and (min-width: 450px) {
  #header__reservation--button {
    font-size: medium;
    padding: 20px 40px;
  }
}
@media screen and (min-width: 550px) {
  .main__fonctionnement li::before {
    left: 1%;
  }
  .main__restaurants {
    font-size: large;
  }
}
@media screen and (min-width: 767.98px) {
  body {
    font-size: large;
  }
}
@media screen and (min-width: 1024px) {
  .main__fonctionnement {
    padding: 20px;
    margin-top: 0;
  }
  .main__fonctionnement h2 {
    margin-left: 50px;
  }
  .main__fonctionnement li::before {
    left: 3%;
  }
  .center {
    display: flex;
    justify-content: center;
  }
  .main__restaurants {
    margin-top: 0;
  }
  .main__restaurants h2 {
    margin-left: 60px;
  }
  .main__restaurants--cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .main__restaurants--cards a {
    margin: 10px 70px;
  }
  .main__restaurant--card {
    width: 400px;
  }
  footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    padding-top: 50px;
  }
  footer h5 {
    margin: 10px 10px 10px 60px;
  }
  footer .footer__content {
    display: flex;
    margin: 10px;
  }
  footer .footer__content .footer__ustensils--link {
    margin-right: 10px;
  }
  footer .footer__content .footer__hanshake--link {
    margin-right: 40px;
  }
  footer .footer__content p {
    margin-right: 20px;
  }
  footer .footer__content--logo {
    display: flex;
  }
  footer .footer__content--links {
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .main__fonctionnement h2 {
    margin-left: 60px;
  }
  .main__fonctionnement li {
    font-size: medium;
  }
  .main__fonctionnement li::before {
    left: 2%;
  }
  .main__restaurants h2 {
    margin-left: 70px;
  }
  .main__restaurant--card {
    width: 500px;
  }
  .main__restaurants--cards a {
    margin: 10px 30px;
  }
}
@media screen and (min-width: 1350px) {
  .main__fonctionnement h2 {
    margin-left: 130px;
  }
  .main__restaurants h2 {
    margin-left: 140px;
  }
}
/********************* Pages Restaurants **********************/
.Banner__img {
  display: block;
  width: 100%;
  height: 15vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.main__resto {
  background-color: #f6f6f6;
}
.main__resto .main__resto--titre {
  margin-top: -2rem;
  padding: 10px 10px;
  border-radius: 2rem 2rem 0 0;
  position: relative;
  background-color: #f6f6f6;
  display: flex;
  align-items: center;
}
.main__resto .main__resto--titre h2 {
  margin-right: 30px;
  font-weight: normal;
  font-family: "Shrikhand", cursive;
}
.main__resto .main__resto--titre i {
  font-size: 2rem;
  position: absolute;
  right: 1rem;
  top: 35%;
}
.main__resto .main__resto--titre .fa-solid {
  color: transparent;
  transition: all 200ms ease-in;
}
.main__resto .main__resto--titre .fa-solid:hover {
  background: linear-gradient(to top, #9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
}
.main__resto .btn__resto {
  display: flex;
  justify-content: center;
}
.main__resto .btn {
  color: white;
  font-weight: bold;
  background: linear-gradient(to top, #9356DC, #FF79DA);
  border: none;
  margin: 30px 0 50px;
  padding: 15px 40px;
  border-radius: 25px;
  box-shadow: 0 2px 7px grey;
  transition-duration: 500ms;
  cursor: pointer;
}
.main__resto .btn:hover {
  background: linear-gradient(to top, rgb(187, 108, 240), rgb(245, 147, 240));
  box-shadow: 0px 2px 20px grey;
}

.main__resto--cards {
  padding: 10px;
}
.main__resto--cards h4 {
  text-transform: uppercase;
  font-weight: lighter;
}
.main__resto--cards h4::after {
  content: "";
  position: absolute;
  top: 26.8rem;
  left: 0.7rem;
  height: 0.25rem;
  width: 2.5rem;
  background-color: #99E2D0;
}
.main__resto--cards .main__cards--box {
  background-color: white;
  display: flex;
  overflow: hidden;
  height: 70px;
  margin: 10px 0;
  border-radius: 15px;
  box-shadow: 0px 2px 5px grey;
}
.main__resto--cards .main__cards--box:hover .box__entrees--check {
  margin: 0;
}
.main__resto--cards .main__cards--box .main__cards--section1 {
  padding: 10px 0 10px 10px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  font-size: small;
  overflow: hidden;
}
.main__resto--cards .main__cards--box h5 {
  margin: 0;
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.main__resto--cards .main__cards--box .box__entrees--check {
  background-color: #99E2D0;
  margin-left: auto;
  padding: 25px 15px;
  border-radius: 0 15px 15px 0;
  align-items: center;
  justify-content: center;
  margin-right: -5rem;
  transition: all 0.5s;
}
.main__resto--cards .main__cards--box .box__entrees--check .checkedIcone {
  padding: 3px;
  border-radius: 50%;
  color: #99E2D0;
  background: white;
}
.main__resto--cards .box__entrees--description {
  overflow: hidden;
}
.main__resto--cards .box__entrees--description p {
  margin: 5px 0;
  padding-right: 10px;
  font-weight: lighter;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.main__resto--cards .box__entrees--prix {
  font-weight: bold;
  display: flex;
  justify-content: baseline;
  align-self: last baseline;
  margin: 5px 20px 5px auto;
}
.main__resto--cards .box__entrees--prix i {
  margin: 3px;
  font-size: smaller;
}

.main__resto--cards h4::after {
  content: "";
  position: absolute;
  height: 0.25rem;
  width: 2.5rem;
  background-color: #99E2D0;
  left: 0.7rem;
}
.main__resto--cards .titre__entrees::after {
  top: 25.3rem;
}
.main__resto--cards .titre__plats::after {
  top: 45.5rem;
}
.main__resto--cards .titre__desserts::after {
  top: 65.5rem;
}
.main__resto--cards .titre__platsbis::after {
  top: 50.5rem;
}
.main__resto--cards .titre__dessertsbis::after {
  top: 70.5rem;
}

@media screen and (min-width: 768px) {
  .main__resto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
  }
  .main__resto .main__resto--titre {
    padding: 0;
  }
  .main__resto .section__resto--cards {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f6f6f6;
  }
  .main__resto .main__resto--titre {
    width: 80%;
    align-items: center;
    justify-content: center;
    font-size: large;
  }
  .main__resto .main__resto--titre i {
    position: absolute;
    left: 70%;
    width: 33px;
  }
  .main__resto .main__resto--cards {
    width: 70%;
    font-size: larger;
  }
  .main__resto .main__resto--cards h4::after {
    width: 3.3rem;
    left: 22%;
  }
  .main__resto .main__resto--cards .titre__entrees::after {
    top: 26rem;
  }
  .main__resto .main__resto--cards .titre__plats::after {
    top: 47.5rem;
  }
  .main__resto .main__resto--cards .titre__platsbis::after {
    top: 52.5rem;
  }
  .main__resto .main__resto--cards .titre__desserts::after {
    top: 69rem;
  }
  .main__resto .main__resto--cards .titre__dessertsbis::after {
    top: 74rem;
  }
  .main__resto .main__resto--cards .main__cards--section1 {
    font-size: medium;
  }
  .main__resto .main__resto--cards .main__cards--section1 h5 {
    font-size: larger;
  }
  .main__resto .btn {
    font-size: large;
    padding: 15px 70px;
  }
}/*# sourceMappingURL=style.css.map */